.toolTip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: center;
}

.main {
	width: 20%;
	margin: auto;
	font-size: 20px;
	padding: 30px 30px;
}

.main p {
	background-color: #888888;
	margin: 10px 10px;
	border-radius: 5px;
}

.container {
	width: 60%;
	margin: auto;
	background-color: #d5d5d5;
	text-align: center;
	border-radius: 25px;
}